.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding-top: 10rem;
}

.home .social {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}

.home .social a {
  text-decoration: none;
  margin: .5rem 0;
}

.home .social a i {
  text-decoration: none;
  color: var(--first-color-alt);
}

.home .social a i:hover {
  transform: scale(1.2);
}

.home .me {
  max-width: 40rem;
  margin: 0 8rem;
  color: var(--text-color);
}

.home .me .title {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--title-color);
}

.home .me .subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.home .me .presentation {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  text-align: justify;
}

.home .oscar-pic {
  height: 30rem;
  width: 30rem;
  background-image: url('../img/oscar.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: relative;
}

.home .oscar-pic::before {
  content: ' ';
  height: 34rem;
  width: 34rem;
  background-color: var(--first-color);
  position: absolute;
  top: -2rem;
  left: -2rem;
  z-index: -10;
  border-radius: 20% 80% 11% 89% / 65% 40% 60% 35%;
  animation: rotation 3s infinite ease-in;
}

@media (max-width: 500px) {
  .home {
    height: 90vh;
    width: 100vw;
    position: relative;
  }

  .home .social {
    position: absolute;
    top: 16rem;
    left: 10%;
  }

  .home .me {
    max-width: 95%;
    margin: 0 2rem;
    position: absolute;
    top: 40rem;
    left: 1rem;
  }

  .home .oscar-pic {
    height: 16rem;
    width: 16rem;
    position: absolute;
    top: 17rem;
    left: 35%;
  }

  .home .oscar-pic::before {
    height: 20rem;
    width: 20rem;
  }
}

@media (max-width: 900px) and (min-width: 501px) {
  .home {
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  .home .social {
    position: absolute;
    top: 20rem;
    left: 15%;
  }

  .home .social a i {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .home .me {
    max-width: 95%;
    margin: 0 2rem;
    position: absolute;
    bottom: 10%;
    margin: 0 10rem;
  }

  .home .me .title {
    font-size: 6rem;
  }

  .home .me .subtitle {
    font-size: 4rem;
  }

  .home .me .presentation {
    font-size: 3rem;
  }

  .home .oscar-pic {
    height: 40rem;
    width: 40rem;
    position: absolute;
    top: 17rem;
    left: 35%;
  }

  .home .oscar-pic::before {
    height: 45rem;
    width: 45rem;
  }
}