
.nav {
  position: fixed;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: var(--title-color);
  transition: all .3s ease-in-out;
  height: 8rem;
}

.nav-container {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.nav #logo {
  display: flex;
  align-items: center;
}

.nav .logo a {
  font-size: 3rem;
  background-size: 300%;
  background-image: linear-gradient(45deg, var(--first-color), var(--first-color-alt), var(--first-color-lighter), var(--first-color-lighter), var(--first-color-alt), var(--first-color));
  animation: textAnimation 5s linear infinite;
  display: inline-block;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-container {
  display: none;
}

@keyframes textAnimation {
  to {
    background-position: 300% center;
  }
}

.nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  transition: all .3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: .2rem;
  padding: .7rem 1.5rem;
  transition: all .3s ease-in-out;
}

.nav.active {
  background-color: var(--container-color);
  box-shadow: 0 .2rem 1rem rgb(0, 0, 0, 0.3);
}

.nav.active a {
  color: var(--title-color);
}

.nav.active .nav-container {
  padding: 1rem 0;
}

.nav a.current {
  color: var(--first-color);
}

.nav a:hover {
  color: var(--text-color-light);
}

.toggle {
  visibility: hidden;
  opacity: 0;
  z-index: -100;
}

/* ======================= Media ====================== */
@media (max-width: 500px) {
  .nav {
    background-color: var(--container-color);
    height: 10vh;
    width: 100vw;
  }

  .nav .nav-container {
    padding: 0;
  }

  .nav #logo a {
    font-size: 3rem;
  }

  .nav .menu{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: -100;
  }

  .nav .menu.open {
    background-color: var(--first-color-alt);
    top: 0;
    right: 0;
    height: 1000%;
    width: 100vw;
    visibility: visible;
    opacity: 1;
    z-index: 5;
  }

  .nav .menu.open ul {
    display: block;
    text-align: center;
    margin: 20rem 0;
  }

  .nav .menu.open ul li {
    margin-top: 4rem;
  }

  .nav .menu.open ul li a {
    font-size: 4rem;
  }

  .toggle {
    background-color: var(--first-color);
    color: var(--title-color);
    border: none;
    border-radius: .5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    visibility: visible;
    opacity: 1;
    z-index: 10;
    height: 3rem;
    width: 3rem;
    padding: .5em 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}