.footer {
  background-color: var(--container-color);
  width: 100vw;
  height: 20rem;
  position: relative;
  padding-top: 5rem;
}

.footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.footer .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
}

.footer .logo a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--title-color);
}

.footer .logo a:hover {
  color: var(--text-color);
}

.footer .social {
  font-size: 2.5rem;
}

.footer .social a {
  text-decoration: none;
  margin: 0 1rem;
}

.footer .social a i {
  text-decoration: none;
  color: var(--title-color);
}

.footer .social a i:hover {
  transform: scale(1.2);
}

.footer .copy {
  font-size: 1.4rem;
  color: var(--text-color);
  text-align: center;
}

.footer .copy a {
  text-decoration: none;
  color: var(--text-color);
}

.footer .copy a:hover {
  color: var(--first-color);
}

/* =========================== Media ====================== */

@media (max-width: 500px) {
  .footer {
    width: 100vw;
  }
}