.footer {
  background-color: var(--container-color);
  width: 100vw;
}

.footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.footer #logo {
  display: flex;
  align-items: center;
  margin-right: 50rem;
}

.footer .logo a {
  font-size: 3rem;
  text-decoration: none;
}

.footer .logo a:hover {
  color: var(--text-color);
}

.footer .social {
  font-size: 2.5rem;
}

.footer .social a {
  text-decoration: none;
  margin: 0 1rem
}

.footer .social a i {
  text-decoration: none;
  color: var(--first-color-alt);
}

.footer .social a i:hover {
  transform: scale(1.2);
}

.footer .copy {
  font-size: 1.4rem;
  color: var(--text-color);
  text-align: center;
}