:root {
  /*========== Colors ==========*/
  /* HSL color mode */
  --first-color: #6E57E0;
  --first-color-alt: #5A43CB;
  --first-color-lighter: #C1B6FC;
  --text-color-light: #A19FAD;

  /* Dark Theme */
  --first-color-second: #100E1B;
  --title-color: #F2F1F3;
  --text-color: #BCBAC4;
  --input-color: #211D35;
  --body-color: #191627;
  --container-color: #211D35;
  --scroll-bar-color: #716C89;
  --scroll-thumb-color: #545167;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #222;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portifolio {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.portifolio h1 {
  color: var(--title-color);
  font-size: 4rem;
  margin-bottom: 2rem;
}

.portifolio p {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.portifolio p a {
  text-decoration: none;
  color: var(--first-color);
}

.portifolio p a:hover {
  color: var(--first-color-alt);
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide iframe {
  height: 100%;
  width: 100%;
}

.swiper-slide .shade {
  height: 40%;
  width: 100%;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(25, 22, 39, 0.6);
}

.swiper-slide .shade h5 {
  font-size: 2rem;
  color: var(--title-color);
  text-align: left;
  margin: 1rem;
}

.swiper-slide .shade p {
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 1rem;
  text-align: left;
}

.swiper-slide .shade a {
  text-decoration: none;
  color: var(--first-color);
}

.swiper-slide .shade .icon {
  font-size: 2rem;
  color: var(--first-color);
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.swiper-slide .shade .icon .fa-desktop {
  margin-right: 1rem;
}

.swiper-slide .shade .icon i:hover {
  color: var(--text-color);
}

.swiper-slide .shade .icon i:active {
  transform: scale(1.1);
}