*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    /*========== Colors ==========*/
    /* HSL color mode */
    --first-color: #6E57E0;
    --first-color-alt: #5A43CB;
    --first-color-lighter: #C1B6FC;
    --text-color-light: #A19FAD;

    /* Dark Theme */
    --first-color-second: #100E1B;
    --title-color: #F2F1F3;
    --text-color: #BCBAC4;
    --input-color: #211D35;
    --body-color: #191627;
    --container-color: #211D35;
    --scroll-bar-color: #716C89;
    --scroll-thumb-color: #545167;
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body{
  background-color: var(--body-color);
}