body {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

.mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  width: 100vw;
  height: 100vh;
}

.toggle {
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: .5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  font-size: 2rem;
  padding: .5rem 1rem;
}

.toggle:hover {
  background-color: darkcyan;
}

.toggle:active {
  transform: scale(1.2);
}

.mobile-menu {
  background-color: lightseagreen;
  border-radius: 100% 0% 0% 100% / 0% 41% 59% 100%;
}

.mobile-menu li {
  list-style-type: none;
}

.mobile a {
  text-decoration: none;
  font-size: 4rem;
  color: #fff;
}

.mobile a:hover {
  color: darkcyan;
}